package-lock.json
node_modules/
resources/public/js/
resources/public/ui.css
src/main/brimm/css/global.css

/target
/tmp
/checkouts
/src/gen
/out

/.classpath
/.project
/.settings
/.cpcache

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

*.map

.lsp
.calva

# ignore everything from clj-kondo except:
.clj-kondo/*
!.clj-kondo/brimm.clj
!.clj-kondo/config.edn
!.clj-kondo/shadow
